/* calendar.css */
.fc .fc-toolbar-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .fc .fc-button {
    background-color: #1677ff;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  .fc .fc-button:hover {
    background-color: #0958d9;
  }
  