.layout-light {
    background-color: #f0f2f5; 
  }
  
  .layout-dark {
    background-color: #1B2431;
    height: 100%;
  }
  
  .content-light {
    background-color: #f0f2f5;
    margin: 24px 16px 0;
  }
  
  .content-dark {
    background-color: #1B2431;
    margin: 24px 16px 0;
  }
  .card-title-light {
    color: #000 !important;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline #1890ff;
  }
  .card-title-dark {
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline #1890ff;
  }
  .card-light {
    background: #fff !important; 
    color: #000 !important;
  }
  .card-dark {
    background: #2c3e50 !important;
   color: #fff !important;
  }
  .card-dark .ant-form-item-label > label {
    color: #fff !important;
  }